<app-loading ></app-loading>
<mat-card class="align-card-main">
  <mat-card-header>
      <mat-card-title class="text-center">
        <mat-label class="text-center">Consolidação por Regiões</mat-label>
      </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <mat-label class="text-center" *ngIf="!showDados">Não existem dados para apresentação</mat-label>
  </mat-card-content>
</mat-card>

<mat-grid-list cols="6" >
  <mat-grid-tile *ngFor="let item of regioesConsolidadas" [colspan]="3">
    <mat-card class="text-center example-card"  >
      <mat-card-header class="text-center">
        <mat-card-subtitle class="text-center">
          <mat-label class="text-center"><strong>{{item.siglaRegiao}}</strong></mat-label>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card-subtitle>
          <mat-label class="text-right">Compra: {{item.totalCompra}}</mat-label>

        </mat-card-subtitle>
        <mat-card-subtitle>
          <mat-label class="text-right">Geração: {{item.totalGeracao}}</mat-label>

        </mat-card-subtitle>

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
